# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.venv/
venv/
env/

# Environment
.env
*.env.local

# Data files (too large for git)
data/raw/*.csv
data/processed/
data/curated/

# GCP credentials (NEVER commit these)
credentials/
*.json

# Spark
derby.log
metastore_db/
spark-warehouse/

# dbt
dbt_project/target/
dbt_project/logs/
dbt_project/.user.yml

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
data/raw/*.parquet
data/raw/*.csv
data/processed/
data/curated/
